{% extends 'layout/main.twig' %}
{% block content %}
	<div class="container my-5">
		<div class="px-6 py-6 shadow-sm">
			<div class="text-center bg-transparent">
				<h3>
					Data Sekolah
				</h3>
			</div>
			<div class="">
				<button type="button" class="btn btn-lg btn-primary my-2" onclick="showAddModal()">
					<i class="bi bi-person-plus-fill"></i>&nbsp;
					Add Data
				</button>
				<div class="table-responsive-md">
					<table id="schoolAddTable" class="table table-hover table-bordered table-responsive text-center">
						<thead class="table-dark">
							<tr>
								<th scope="col">
									No
								</th>
								<th scope="col">
									Nama Sekolah
								</th>
								<th scope="col">
									Alamat Sekolah
								</th>
								<th scope="col">
									Action
								</th>
							</tr>
						</thead>
						<tbody id="tbody">
							{# {% for school in data %}
							<tr>
								<td>{{loop.index}}</td>
								<td>{{school.nama_sekolah}}</td>
								<td>{{school.alamat}}</td>
								<td>
									<button class="btn btn-warning item_edit" data-id="{{school.id}}">
										<i class="bi bi-pencil-fill"></i>&nbsp; Edit
									</button>
									<button class="btn btn-danger" data-id="{{school.id}}">
										<i class="bi bi-trash3-fill"></i>&nbsp; Hapus
									</button>
								</td>
							</tr>
							{% endfor %} #}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	{# MODAL #}

	<div class="modal fade" id="modal_addSchool" tabindex="-1" aria-labelledby="addSchoolModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						Tambah data
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form id="addSchoolForm">
					<div class="modal-body">
						<div class="mb-3">
							<label for="">Nama Sekolah</label>
							<input id="nama_sekolah" type="text" name="nama_sekolah" class="form-control" required autofocus/>
						</div>
						<div class="mb-3">
							<label for="">Alamat Sekolah</label>
							<input id="alamat" type="text" name="alamat" class="form-control" required/>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="addSchoolButton">Add Data</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal_detailSchool" tabindex="-1" aria-labelledby="detailSchoolModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						Detail Data
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<span>Nama Sekolah</label>
						<h4 data-name="nama_sekolah"></h4>
					</div>
					<div class="mb-3">
						<label class="form-label">Alamat Sekolah</label>
						<h4 data-name="alamat"></h4>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal_deleteSchool" tabindex="-1" role="dialog" aria-labelledby="deleteSchoolModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Delete Data</h4>
				</div>
				<form class="form-horizontal">
					<div class="modal-body">
						<input type="hidden" name="deleteId" id="deleteId" value="">
						<div class="alert alert-danger">
							<p>Are you sure you want to delete this data?</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button class="btn_hapus btn btn-danger" id="btn_hapus">Delete</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}